
		<div class="container">
			<div class="row">
				<form action="{{ path_for('task.create') }}" method="post" id="createTask" data-listid="{{ list.getId() }}" class="col-12">
					<div class="form-group w-100">
						<textarea name="description" id="description" class="form-control px-3" placeholder="New task"></textarea>
					</div>
					<div class="form-group">
						<input type="submit" value="Post task " class="btn">
						<span class="error float-right text-danger"></span>
					</div>
				</form>
			</div>
		</div>