{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block head %}
	{{ parent() }}
	<style type="text/css">
		.important { color: #336699; }
	</style>
{% endblock %}
{% block style %}
	<script src="{{ base_url() }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	{{ parent() }}
{% endblock %}
{% block content %}
	{% include 'modals/confirm-delete.html.twig' %}
	{% include 'modals/shareList.html.twig' %}
	<div class="container">
		<div class="row ">
			<span class="h1">Lists</span>
		</div>
		<div class="row">
			{% include 'list/new.html.twig' %}
		</div>
		<div class="row">
			{% include 'list/showOptions.html.twig' %}
		</div>

		<div id="lists">
			
		</div>
	</div>
{% endblock %}
{% block script %}
	{{ parent() }}
	<script>

	</script>
{% endblock %}