{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block head %}
	{{ parent() }}
	<style type="text/css">
		.important { color: #336699; }
	</style>
{% endblock %}
{% block style %}
	<script src="{{ base_url() }}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	{{ parent() }}
{% endblock %}
{% block content %}
	{% include 'modals/confirm-delete.html.twig' %}
	<div class="container">
		<div class="card">
			<div class="card-body">
				<div class="h3">List not found</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	{{ parent() }}
	<script>

	</script>
{% endblock %}