<div class="container">
	<form action="{{ path_for('list.create') }}" method="post" id="createList" data-userid="{{ user_id }}">
		<div class="form-group">
			<input type="text" placeholder="Todo list title" class=" form-control" name="title" id="title">
		</div>
		<div class="form-group">
			<input type="submit" value="new list" class="col-2 btn">
			<span class="error float-right text-danger"></span>
		</div>
	</form>
</div>