<div class="container newList">
	<div class="float-right">
		<form action="{{ path_for('list.search') }}" method="post" id="searchLists" data-userid="{{ user_id }}">
			<input type="checkbox" id="private">
			<label for="private">Private</label>
			<input type="checkbox" id="sharedByMe">
			<label for="sharedByMe">Shared</label>
			<input type="checkbox" id="sharedWithMe">
			<label for="sharedWithMe">Shared with me</label>
		</form>
	</div>
	<hr />
</div>