<div class="container newList">
	<div class="float-right">
		<form action="{{ path_for('list.search') }}" method="post" id="searchLists" data-userid="{{ user_id }}">
			<input type="checkbox" id="private">
			<label for="private">Privates Only</label>
		</form>
	</div>
	<hr />
</div>